<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.delivery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delivery">
        <activity android:name=".activities.PackageInfoActivity"></activity>
        <activity android:name=".activities.PackagesActivity"></activity>
        <activity android:name=".activities.CreatePackageActivity" />
        <activity android:name=".activities.CreateBuildingSiteActivity" />
        <activity android:name=".activities.CreateVendorActivity" />
        <activity android:name=".activities.BuildingSitesActivity" />
        <activity android:name=".activities.SiteInfoActivity" />
        <activity android:name=".activities.VendorsActivity" />
        <activity android:name=".activities.DriversActivity" />
        <activity android:name=".activities.VentorInfoActivity" />
        <activity android:name=".activities.DriverInfoActivity" />
        <activity android:name=".activities.UpdateProfilePictureActivity" />
        <activity android:name=".activities.RegisterDriverActivity" />
        <activity android:name=".activities.RegisterManagerActivity" />
        <activity android:name=".activities.AddPhoneNumActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.DelievedActivity" />
        <activity android:name=".activities.NotifyActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ManagerActivity" >

        </activity>
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>